:root {
  --black-1: rgb(6, 11, 22);
  --black-2: rgb(14, 22, 39);
  --black-3: rgb(26, 33, 49);
  --black-4: rgb(43, 51, 70);
  --black-5: rgb(77, 85, 104);

  --white-1: #fff;
  --white-2: rgb(185, 189, 199);
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background: var(--black-1);
}

#app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;

  background: var(--black-1);
}

#section-1 {
  width: 100%;
  height: 10%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--black-2);
}

#section-1 select,
#section-1 input,
#section-1 button,
#nav button,
#response-options button {
  outline: none;
  padding: 5px 10px 5px 10px;
  margin: 5px;

  background: var(--black-3);
  border: 4px solid var(--black-4);
  border-radius: 10px;

  color: var(--white-1);

  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;

  transition: 250ms;
}

#section-1 select,
#section-1 button,
#nav button,
#response-options button {
  cursor: pointer;
}

#nav button {
  color: var(--white-2);
  background: var(--black-2);
  border: 4px solid var(--black-3);
}

#section-1 select:hover,
#section-1 select:focus,
#section-1 input:hover,
#section-1 input:focus,
#section-1 button:hover,
#response-options button:hover {
  background: var(--black-4);
  border: 4px solid var(--black-5);

  transform: scale(1.05);
}

#nav button:hover {
  color: var(--white-1);
  background: var(--black-3);
  border: 4px solid var(--black-4);

  transform: scale(1.05);
}

#nav button:focus {
  color: var(--white-1);
  background: var(--black-4);
  border: 4px solid var(--black-4);

  transform: scale(1);
}

#section-1 button:focus, #response-options button:focus {
  background: var(--black-5);
  border: 4px solid var(--black-5);
  transform: scale(1);
}

#section-2 {
  width: 100%;
  height: 90%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 25px;
}

#response, #request {
  margin: 10px auto;
  border-radius: 10px;
  padding: 10px;
  background: var(--black-3);
}

#response {
  display: none;
}

#stats {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5px auto;
}

#stats p {
  font-size: 18px;
  font-weight: 600;
  color: var(--white-2);
}

#response textarea {
  margin: 5px auto;
  outline: none;
  padding: 5px;

  background: var(--black-2);
  color: var(--white-2);
  border: 4px solid var(--black-4);

  border-radius: 10px;

  width: 100%;
  box-sizing: border-box;
  resize: vertical;

  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

::placeholder {
  color: var(--white-2);
  opacity: 1;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: var(--black-5);
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100px;
}

::-webkit-scrollbar-track:hover {
  background: transparent;
}

::-webkit-scrollbar-track:active {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

@media only screen and (max-width: 350px) {
  h1 {
      font-size: 32px;
  }

  .buttons a,
  #desc {
      font-size: 16px;
      font-weight: 500;
  }
}